.global_header {
    /* position: fixed; */
    z-index: 999;
    height: 50px;
    background-color: #FFFFff;
    font-size: 16px;
    color: #fff;
    border-bottom: 1pt solid #eeeeee;
    top: 0;
    min-width: 1000px;
    width: 100%;
}
.global_header.dark {
    background-color: #202427;
}
.global_header.dark .navbar-default .navbar-nav>li>a {
    color: #ffffff;
}
.global_header.dark .navbar-default .navbar-nav>li>a>span {
    color: #ffffff;
}
.global_header.dark .loginbox>div:first-child span {
    color: #ffffff;
}
.global_header.dark .menu_bar {
    background-color: #323232;
    border:none;
}


.global_header.dark .menu_bar .menu li {
    padding: 0 16px;
}
.global_header.dark .menu_bar .menu li a {
    color: #ddd;
}
.global_header.dark .fa-angle-down:before {
    content: "";
}
.reg_btn{
    width: 100px;
    border-radius: 3px;
    color: #FFFFff;
    background-color: #FB8C00;
    font-weight: bold;
    border: none;
}

.global_header .logo {
    background: url(/images/common/mugeda_logo.png) center center no-repeat;
    display: block;
    position: absolute;
    left: 112px;
    width: 70px;
    height: 51px;
    background-size: contain
}

.global_header .partnerlogo {
    width: 125px;
    height: 50px
}

.global_header .head_menu {
    text-align: center;
    width: 1000px;
    margin: 0 auto
}

.global_header .head_menu li {
    float: left;
    line-height: 60px;
    height: 60px;
    width: 120px
}
#unauthenticated{
    margin: 0 53px !important;
}

.global_header .head_menu li a {
    color: #fff;
    font-size: 16px
}

.global_header .loginbox {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0 21px
}

.global_header .loginbox #Login_user {
    color: #fff;
    text-decoration: none;
    padding: 0 8px
}

.global_header .loginbox > div:first-child {
    height: 45px;
    margin-top: 9px
}

.global_header .loginbox > div:first-child a {
    width: 35px;
    height: 35px;
    display: block;
    float: left
}

.global_header .loginbox > div:first-child span {
    display: block;
    line-height: 30px;
    padding-left: 15px;
    float: left;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap
}

.global_header .loginbox > div:first-child span:after {
    content: url("/images/common/header_select_arrow.png");
    margin-left: 5px;
    vertical-align: 3px
}

.global_header .loginbox > div {
    color: #646365
}

.global_header .loginbox > div a {
    text-decoration: none;
}

.global_header .loginbox div.login {
    color: white
}

.global_header .loginbox div.login a {
    border-radius: 3px;
}

.global_header .loginbox div.login.pop {
    background-color: #1e1e1e;
    color: white
}

.global_header .loginbox div.login .mugedalogin {
    border: 1px solid #fff;
    padding: 5px
}

.global_header .loginbox .avatar {
    border-radius: 3em
}

.global_header .head_box {
    height: 60px;
    margin: 0 auto;
    position: relative;
    width: 100%
}

.global_header #unauthenticated .login {
    margin-top: 13px
}

.global_header #unauthenticated .login a {
    line-height: 26px;
    width: 66px;
}

.global_header form#login {
    height: 100%
}

.global_header form#login ul, .global_header form#login li, .global_header form#login span {
    height: 100%
}

.global_header form#login ul li span {
    line-height: 80px
}

.global_header .feedback, .global_header .register, .global_header .signout {
    display: none
}

.mugeda_partner .head_menu {
    width: 200px;
    float: right;
    margin-right: 150px
}

.mugeda_partner .head_menu li {
    float: right
}

.mugeda_partner .loginbox a {
    border: none !important
}

#chg_server {
    display: none
}

.global_header .menu_bar {
    background-color: #fff;
    display: none;
    position: absolute;
    z-index: 2000;
    width: 145px;
    right: 0;
    top: 49px;
    border: 1pt solid #efefef;
}

.global_header .menu_bar .menu {
    margin-top: 15px;
    float: left
}

.global_header .menu_bar .menu li {
    float: left;
    list-style: none;
    width: 100%;
    padding: 0 20px;
    line-height: 32px
}

.global_header .menu_bar .menu li:hover {
    width: 130px;
    cursor: default;
    color: #ee7700!important;
}

.global_header .menu_bar .menu li a {
    text-decoration: none;
    text-align: left;
    font-size: 14px;
    color: #666666
}

.global_header .menu_bar .menu li a:hover {
    width: 130px;
    text-decoration: none;
    color: #ee7700!important;
}

.global_header .menu_bar .menu li:hover a {
    text-decoration: none;
}

.global_header .menu_bar .menu li:last-child {
    margin-bottom: 15px
}

.global_header .menu_bar .menu .btnCreate {
    float: left;
    width: 100%;
    line-height: 48px;
    height: 48px;
    text-align: center
}

.global_header .menu_bar .menu .btnCreate:hover {
    background: #f36523;
    text-decoration: none;
    cursor: default
}

.global_header .menu_bar .menu .btnCreate a {
    text-decoration: none;
    line-height: 48px;
    font-size: 18px;
    color: #ddd
}

.global_header .menu_bar .menu .btnCreate a:hover {
    text-decoration: none;
    color: #FFF
}

.global_header .menu_bar .menu .btnCreate:hover a {
    text-decoration: none;
    color: #FFF
}

.global_header .menu_bar .menu .btnBeginner {
    float: left;
    width: 100%;
    line-height: 48px;
    height: 48px;
    text-align: center
}

.global_header .menu_bar .menu .btnBeginner:hover {
    background: #f36523;
    text-decoration: none;
    cursor: default
}

.global_header .menu_bar .menu .btnBeginner a {
    font-size: 13px;
    line-height: 16px;
    text-decoration: none;
    color: #333
}

.global_header .menu_bar .menu .btnBeginner a:hover {
    text-decoration: none;
    color: #333
}

.global_header .menu_bar .btnUpgrade {
    float: left;
    width: 100%;
    line-height: 48px;
    height: 48px;
    text-align: center
}

.global_header .menu_bar .btnUpgrade:hover {
    background: #f36523;
    text-decoration: none;
    cursor: default
}

.global_header .menu_bar .btnUpgrade a {
    text-decoration: none;
    line-height: 48px;
    font-size: 18px;
    color: #f36523
}

.global_header .menu_bar .btnUpgrade a:hover {
    text-decoration: none;
    color: #FFF
}

.global_header .menu_bar .btnUpgrade:hover a {
    text-decoration: none;
    color: #FFF
}

.global_header .menu_bar .btnLogout {
    float: left;
    width: 100%;
    line-height: 48px;
    height: 48px;
    text-align: center
}

.global_header .menu_bar .btnLogout:hover {
    background: #f36523;
    text-decoration: none;
    cursor: default
}

.global_header .menu_bar .btnLogout a {
    text-decoration: none;
    line-height: 48px;
    font-size: 18px;
    color: #D5D4D7
}

.global_header .menu_bar .btnLogout a:hover {
    text-decoration: none;
    color: #FFF
}

.global_header .menu_bar .btnLogout:hover a {
    text-decoration: none;
    color: #FFF
}

.ie_browser_warning {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -450px;
    width: 650px;
    height: 30px;
    line-height: 30px;
    background: #ff5700;
    color: #fff;
    font-weight: bold;
    text-align: center
}

.navbar-default {
    background: transparent;
    border-color: transparent;
    border: none
}

.navbar-default .navbar-nav > li > a {
    color: #666666;

    padding: 16px 20px;
    font-size: 14px
}

.navbar-default .navbar-nav > li > a .navbar-header {
    height: 60px
}

.nav .new {
    position: relative;
    display: block
}

.nav .new span {
    display: block;
    width: 28px;
    height: 14px;
    position: absolute;
    top: 10px;
    right: 10px;
    background: url(/images/common/new.png) no-repeat;
    background-size: contain
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: #fb8c00
}

.noti-badge {
    position: absolute;
    width: 45px;
    height: 50px;
    top: 10px;
    left: -41px;
    text-align: center;
    padding-top: 10px
}

.noti-badge .icon {
    cursor: pointer;
    display: inline-block;
    width: 16px;
    height: 18px;
    background: url(/images/notice.png) no-repeat;
    background-size: contain
}

.noti-badge .unread {
    position: absolute;
    color: #fff;
    font-size: 12px;
    width: 5px;
    height: 5px;
    background: #fb8c00;
    top: 10px;
    right: 16px;
    border-radius: 10px;
    box-shadow: 0px 2px 5px #000;
}

.noti-badge .unread.double {
    width: 30px;
    right: -3px
}

.popover {
    border-radius: 0 !important
}

body {
    overflow-x: hidden
}

.noti-badge-message {
    width: 248px
}

.noti-badge-message ul li {
    list-style: none;
    height: 30px;
    line-height: 30px;
    text-align: left;
    border-bottom: 1px solid #ccc;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.noti-badge-message p {
    text-align: right;
    height: 30px;
    line-height: 38px
}

.noti-badge-message .detail-link {
    color: #337ab7
}

.header-message-icon {
    width: 20px;
    background-image: url(/images/noti-icon.png);
    background-repeat: no-repeat;
    display: inline-block;
    margin-right: 11px;
    height: 17px;
    background-position: 0 1px;
    vertical-align: -2px
}

@media screen and (max-width: 1024px) {
    .global_header ul.headlogin {
        display: none
    }
}

@media (max-width: 685px) {
    .global_header .head_menu {
        display: none
    }

    #unauthenticated {
        display: none
    }
}

.warp .banner .page-title h1 {
    font-family: '微软雅黑', sans-serif !important;
    font-weight: normal !important
}

@media screen and (max-width: 767px) {
    .warp .banner .page-title h1 {
        font-size: 40px
    }

    #unauthenticated {
        width: 60px
    }

    .global_header .logo {
        left: 30px
    }

    .global_header .head_menu {
        width: 400px
    }

    .global_header .head_menu li {
        width: 50px
    }

    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        background: #2b2b2b;
        width: 150px;
        overflow: hidden;
        margin-left: 0
    }

    .navbar-toggle {
        float: left;
        border: none;
        margin-left: 150px;
        margin-top: 13px
    }

    .navbar .navbar-default {
        width: 150px;
        float: left;
        margin-left: 0
    }

    .collapse {
        display: block
    }
}

@media only screen and (min-width: 1220px) {
    .nav.navbar-nav {
        width: 920px;
        margin: 0 148px;
        float: initial;
        overflow: hidden
    }
}

@media only screen and (max-width: 1220px) {
    .navbar-toggle {
        display: block;
        float: left;
        border: none;
        margin-left: 150px;
        margin-top: 13px
    }

    .navbar-default.navbar-collapse {
        background: #2b2b2b;
        width: 150px;
        overflow: hidden;
        margin-left: 0
    }

    .nav.navbar-nav {
        margin: 7.5px -15px;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        width: 150px
    }
}

@media (max-width: 1220px) {
    .navbar-header {
        float: initial;
        height: 60px
    }

    .navbar-toggle {
        display: block
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1)
    }

    .navbar-collapse.collapse {
        display: none !important
    }

    .navbar-nav {
        float: none !important;
        margin: 7.5px -15px
    }

    .navbar-nav > li {
        float: none
    }

    .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px
    }

    .navbar-text {
        float: none;
        margin: 15px 0
    }

    .navbar-collapse.collapse.in, .navbar-collapse.collapsing {
        display: block !important;
        background: #fff;
        width: 140px;
        overflow: hidden;
        margin-left: 145px;
        border: none;

    }

    .navbar-collapse.collapse.in a{
        width: 72%;
        border-bottom:  1pt solid #e7e7e7;
        margin-left: 17px;
        line-height: 6px !important;
        padding: 16px 7px;
    }



    .collapsing {
        overflow: hidden !important
    }

    .navbar-nav .new span {
        right: 25px
    }
}

/* TODO: 按照主题分离样式文件 */
.global_header.bright {
    background-color:#fff;
}

.global_header.bright .navbar-default .navbar-nav>li>a {
    color: #555;
}

.global_header.bright .loginbox>div:first-child span {
    color:#f36532
}

.global_header.bright .noti-badge .unread {
    box-shadow: none;
}

.global_header.bright  .noti-badge .icon {
    background: url(/images/notice.svg) no-repeat;
}

.global_header.bright .menu_bar .menu li a {
    color: #555;
}

.global_header.bright .loginbox>div:first-child span:after {
    filter:brightness(0.5);
}

.global_header.bright .menu_bar {
    background-color: #fffdfd;
    border:1px solid #aaa;
}

.global_header.bright .loginbox>div {
    color: #555;
}

.global_header.bright .menu_bar .menu li {
    padding: 0 16px;
}

.global_header.bright .menu_bar .menu li:hover{
    background:#d3ecf8;
    cursor:default;
    color:#555
}

.global_header.bright .menu_bar .menu li a{
    color:#555
}
.global_header.bright .fa-angle-down:before {
    content: "";
}

.global_header.bright .menu_bar .menu li a:hover{
    text-decoration:none;
    color:#ee7700
}

.messageBg{
    position: relative;
}
.messageBox{
    display: block;
    z-index: 999;
    right: 12px;
    position: fixed;
    bottom: 12px;
}
.close_btn{
    position: absolute;
    right: 11px;
    top: 13px;
    cursor: pointer;
}
.messageTime{
    position: absolute;
    color: #333333;
    font-size: 14px;
    font-family: "Microsoft YaHei";
    left: 20px;
    top: 49px;

}
.messageContent{
    position: absolute;
    font-size: 12px;
    color: #666666;
    font-family: "Microsoft YaHei";
    left: 20px;
    top: 86px;
    line-height: 18px;
    max-width: 318px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    text-overflow:ellipsis;
}

.messageLink{
    position: absolute;
    font-size: 12px;
    font-family: "Microsoft YaHei";
    right: 17px;
    bottom: 22px;
}
.messageLink a {
    color: #049fff;
}


@media only screen and (min-height: 801px) {
    #spring {
        top: 70%;
    }
}
@media only screen and (max-height: 800px) and (min-height: 600px) {
    #spring {
        top: 84%;
    }
}

@media only screen and (max-height: 599px) {
    #spring {
        top: 86%;
    }
}
@media only screen and (max-height: 550px) {
    #spring {
        top: 94%;
    }
}