.leftbar-icon {
  display: inline-block;
  /*width: 1em;
  height: 1em;
  */
  width: 12px;
  height: 12px;
  /*vertical-align: -2px;*/
  margin-right: 14px;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
footer {
    color: #666;
    padding: 10px 0;
    position: relative;
     margin-top: 0px !important;
    min-height: 50px !important;
    clear: both;
}
.control_menu{
    font-size: 12px;
    color: #666666;
    margin-top: 10px;
}
.warp {
    margin-bottom: 0 !important;
    /* margin-top: 20px; */
}
.warp .main {
     background: #FFFFFF !important;
     position: relative;
}


.warp .main .menu .menulist > li:hover {
    background-color: #FFFFff !important;
}
.warp .main .menu .menulist > li.cur a {
    color: #FB8C00 !important;
    text-decoration: none;
}
.warp .main .menu .menulist > li.cur a span{
    border-bottom: 1pt solid #FB8C00;
}
.warp .main .menu{
    min-height: 916px !important;
}
.warp .main .main_r {
    background-color: #F5F5F5 !important;
    /* margin-top: 27px; */
}

#jstree .temp-cur li{
    height: 30px;
    line-height: 35px;
    padding-left: 60px;
}
#jstree .temp-cur a{

    font-size: 12px;
}
#jstree .temp-cur .temp a{
    color: #ee7700;
}
.rightbar-icon {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 3px;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.leftbar-icon-animation {
}

.leftbar-icon-template {
}

.profile-container {
  font-family: 'Microsoft YaHei';
  padding-top: 20px !important;
  /*height: 188px;*/
  border-bottom: 1px solid #efefef;
}

.profile-avatar {
    display: inline-block;
    vertical-align: top;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.profile-avatar .decorate{
    border: none;
    position: absolute;
    width: 25px;
    transform: rotate(324deg);
    top: -5px;
    left: 22px;
}
.profile-avatar img {
    width: 54px;
    height: 54px;
    border-radius: 50%;
    display: block;
    margin: auto;
    margin-top: 2px;
}

.profile-panel-container {
  margin-left: 16px;
  margin-top: 6px;
  display: inline-block;
  color: #fff;
}

.profile-panel {
  width: 88px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 14px;
  line-height: 18px;
}
.font1 {
  font-size: 18px;
  font-weight: 700;
    color: #303133;
}
.font2 {
  font-size: 12px;
}
.color1 {
  color: #ee7700;
}

.color2 {
  color: #666666;
}

.bg-color_bar1 {
  background-color: #fc7e7e;
}

.bg-color_bar2 {
  background-color: #fac554;
}

.bg-color_bar3 {
  background-color: #55cc5d;
}

.perminfo-container {
  font-family: 'Microsoft YaHei';
  margin-top: 17px !important;
  color: #fff;
  height: auto;
  border-bottom: 1px solid #efefef;
}

.progress-bar_container {
  margin-bottom: 12px;
}

.user-type {
    padding-top: 10px;
    color: #D4A032;
}
.user-type img{
    width: 16px;
    vertical-align: sub;
}
.leftbar-btn {
  display: inline-block;
  width: 170px;
  height: 28px !important;
  line-height: 26px !important;
  cursor: pointer;
  color: #ee7700; 
  border: 1px solid #ee7700;
  text-decoration: none;
  background-color: rgba(238,119, 1, 0.1);
  border-radius: 3px;
}
.leftbar-btn:hover, .leftbar-btn:active{
  color: #ffffff;
  text-decoration: none;
    background: #ED7700;
}
.progress {
  width: 158px;
  height: 8px;
  margin: 0;
  display: inline-block;
}
.progress-bar {
  width: 158px;
  height: 8px;
  /*border: 1px solid #77b2ee;*/
  border-radius: 10px 10px 10px 10px;
}

.progress-bar_container label {
  font-size: 12px;
}

.progress-bar_container .percent-text {
  margin-left: 15px;
  font-size: 12px;
    color: #666666;
}

.progress-bar_container .percent {
  font-size: 10px;
  float: right;
  margin-right: 12px;
}

.expire_time_container .percent-text {
  margin-left: 38px;
  font-size: 12px;
  color: #ff0033;
}

.expire_time_container {
  margin-bottom: 12px;
  font-size: 12px;
}

.mbtn-area {
  margin: 17px 0;
  width: 170px;
  height: 28px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
}

.usage-container {
  font-size: 12px;
}

.usage_label {
    color: #909399;
}

.icon_new_left_bar_nav_sprite {
  background-image: url(../../images/../../images/css_sprites.png);
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
  margin-top: -2px;
}

.cur .bg-animation {
    width: 12px; height: 12px;
    background: url('../../images/css_sprites.png') -42px -42px;
}


.bg-asset {
    width: 12px; height: 12px;
    background: url('../../images/css_sprites.png') -10px -42px;
}


.cur .bg-asset {
    width: 12px; height: 12px;
    background: url('../../images/css_sprites.png') -74px -10px;
}


.bg-folder {
    width: 24px; height: 24px;
    background: url('../../images/css_sprites.png') -54px -54px;
}


.cur .bg-folder {
    width: 24px; height: 24px;
    background: url('../../images/css_sprites.png') -98px -10px;
}


.bg-share {
    width: 12px; height: 12px;
    background: url('../../images/css_sprites.png') -42px -74px;
}


.bg-team {
    width: 12px; height: 12px;
    background: url('../../images/css_sprites.png') -10px -10px;
}


.cur .bg-share {
    width: 12px; height: 12px;
    background: url('../../images/css_sprites.png') -106px -10px;
}


.cur .bg-team {
    width: 12px; height: 12px;
    background: url('../../images/css_sprites.png') -138px -42px;
}


.bg-template {
    width: 12px; height: 12px;
    background: url('../../images/css_sprites.png') -138px -74px;
}


.cur .bg-template {
    width: 12px; height: 12px;
    background: url('../../images/css_sprites.png') -138px -106px;
}


.bg-animation {
    width: 12px; height: 12px;
    background: url('../../images/css_sprites.png') -42px -10px;
}


.bg-account {
    width: 12px; height: 12px;
    background: url('../../images/css_sprites.png') -42px -106px;
}


.cur .bg-account {
    width: 12px; height: 12px;
    background: url('../../images/css_sprites.png') -106px -42px;
}

.bg-custom {
    width: 12px; height: 12px;
    background: url('../../images/css_sprites.png') -74px -42px;
}

.cur .bg-custom {
    width: 24px; height: 24px;
    background: url('../../images/css_sprites.png') -10px -74px;
}

.bg-dashbord {
    width: 12px; height: 12px;
    background: url('../../images/css_sprites.png') -106px -74px;
}

.cur .bg-dashbord {
    width: 12px; height: 12px;
    background: url('../../images/css_sprites.png') -74px -74px;
}

.bg-quit {
    width: 12px; height: 12px;
    background: url('../../images/css_sprites.png') -74px -106px;
}

.cur .bg-quit {
    width: 12px; height: 12px;
    background: url('../../images/css_sprites.png') -138px -10px;
}

