.main-content{
    width: 1200px;
    margin: 0 auto;
}
.bread-nav{
    height: 120px;
    font-size: 14px;
    color: #606266;
    width: 100%;
    background: #FFFFFF;
}
.bread-nav .header-center{
    width: 1200px;
    margin: 0 auto;
}
.bread-nav a{
    margin-top: 16px;
    font-size: 14px;
    color: #909399;
}
header .breadcrumb{
    background-color: #FFFFFF;
    padding: 20px 0 0;
    color: #909399;
    margin-bottom:22px;
}
header .breadcrumb > li + li:before {
    color: #909399;
    content: "> ";
    padding: 0 5px;
}
header .breadcrumb>.active{
    color: #909399;
}
header h1{
    margin: 0 auto;
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    height: 28px;
    line-height: 28px;
    margin-bottom: 8px;
}
header img{
    vertical-align:top;
}
.vertical .top-view{
    height: 787px;
    background-color: #ffffff;
    border-radius: 2px;
    margin-top: 20px;
    width: 780px;
    float: left;
}
.vertical .top-view .view-box iframe {
    width: 420px;
    height: 682px;
}
.vertical .top-view .view-box{
    margin-left: 180px;
    margin-top: 48px;
    width: 420px;
    height: 682px;
}
.vertical .middle-content{
    float: left;
    margin-left: 20px;
    margin-top: 20px;
}
.vertical .template .creative-info{
    width: 400px;
    height: 480px;
    border-radius: 2px;
    background-color: #FFFFFF;
    position: relative;
}

.vertical .cases .creative-info{
    width: 400px;
    height: 364px;
    border-radius: 2px;
    background-color: #FFFFFF;
    position: relative;
}

.vertical .h5-cases .creative-info{
    height: 445px;
    width: 400px;
    border-radius: 2px;
    background-color: #FFFFFF;
    position: relative;
}
.vertical .cases.h5-cases .designer-info{
    height: 322px;
    width: 400px;
    border-radius: 2px;
    float: left;
    background-color: #ffffff;
    margin-top: 20px;
}
.transverse .top-view{
    height: 500px;
    background-color: #ffffff;
    border-radius: 2px;
    margin-top: 20px;
}

.vertical .h5-cases .user-info{
    margin-top: 38px;
    text-align: center;
}
.vertical .h5-cases .face{
    width: 100px;
    height: 100px;
    border-radius: 49%;
}
.vertical .h5-cases .user-name{
    display: block;
    margin-top: 20px;
    font-size: 20px;
    color: #303133;
}


.transverse .top-view .view-box{
    margin-left: 238px;
    margin-top: 40px;
    width: 682px;
    height: 420px;
}
.transverse .top-view  .view-box iframe{
    width: 682px;
    height: 420px;
}
.transverse .middle-content{
    margin-top: 20px;
}
.transverse .middle-content .creative-info{
    width: 778px;
    height: 287px;
    border-radius: 2px;
    background-color: #FFFFFF;
    float: left;
    position: relative;
}
.creative-title{
    font-size: 20px;
    color: #303133;
    margin:32px 32px 0px 32px;
    max-width: 427px;
    line-height: 28px;
}
.vertical .creative-title{
    position: relative;
}
.creative-title h1{
    display: inline-block;
    font-size: 20px;
    margin: 0;
}
.creative-title .all-tag{
    float: right;
    font-size: 14px;
    color: #666666;
}

.creative-title .all-tag:hover {
    color: #fb8c00;
    text-decoration: none;
}

.tag-box {
    font-size: 0;
    position: absolute;
    left: -12px;
    top: -10000px;
    width: 360px;
    padding: 20px;
    -webkit-filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.2));
    border-radius: 3px;
    background-color: #fff;
    background-color: #fff;
    color: #666666;
}
.tag-box:before,
.tag-box:after {
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 10px;
    border-color: transparent;
}
.tag-box:before,.tag-box:after {
    bottom: 100%;
    right: 28px;
}
.tag-box:before {
    border-bottom-color: #bbb;
}
.tag-box:after {
    border-bottom-color: #fff;
}
.creative-title .tag-box span{
    border: 1px solid #DCDFE6;
    border-radius: 2px;
    padding: 3px 5px;
    margin-left: 5px;
    white-space: inherit;
    height: 28px;
    margin-bottom: 9px;
    display: inline-block;
    line-height: 20px;
    font-size: 14px;
}
.creative-title img{
    margin-right: 10px;
    vertical-align: text-bottom;
}

.creative-tag{
    font-size: 14px;
    color: #666666;
    margin-left: 32px;
    margin-top: 16px;
    margin-right: 32px;
    overflow: hidden;
    white-space: nowrap;
}
.creative-tag span{
    border: 1px solid #DCDFE6;
    border-radius: 2px;
    padding:3px 5px;
    margin-left: 5px;
    white-space: pre;
    line-height: 32px;
}
.creative-tag span:first-child{
    margin-left: 0px;

}

.transverse .create-creative{
    margin-top: 63px;
    margin-left: 32px;
}
.vertical .create-creative{
    margin-top: 27px;
    margin-left: 32px;
}
.create-btn{
    width: 336px;
    height: 40px;
    border-radius: 4px;
    background-color: #FB8C00;
    color: #ffffff;
    font-size: 16px;
    border: none;
}
.create-btn:hover{
    background-color: #ED7700;
}
.transverse .creative-qrcode{
    position: absolute;
    top: 72px;
    right: 54px;
}
.transverse .creative-qrcode span{
     font-size: 14px;
     color: #303133;
    text-align: center;
}

.vertical .creative-qrcode{
   margin-top: 30px;
    margin-left: 141px;
}
.vertical .template .creative-qrcode{
    margin-top: 30px;
    margin-left: 141px;
}
.vertical .creative-qrcode span{
    font-size: 14px;
    color: #303133;
    text-align: center;
}



.transverse .designer-info{
    width: 402px;
    height: 287px;
    border-radius: 2px;
    margin-left: 20px;
    float: left;
    background-color: #ffffff;
}

.vertical .template .designer-info{
    width: 400px;
    height: 287px;
    border-radius: 2px;
    float: left;
    background-color: #ffffff;
    margin-top: 20px;
}


.vertical .cases .designer-info{
    width: 400px;
    height: 403px;
    border-radius: 2px;
    float: left;
    background-color: #ffffff;
    margin-top: 20px;
}
.designer-top{
    height: 92px;
    border-bottom: 1px solid #E4E7ED;
    width: 336px;
    margin-left: 32px;
}
.designer-top .user-info{

     margin-top: 32px;
   float: left;
}
.designer-top .user-info a{

    text-decoration: none;
    color: #333333;
}
.designer-top .user-info .user-name{
    margin-left: 20px;
}
.designer-top .face{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.designer-top .user-page{
   float: right;

}
.designer-top .into-page{
    border-radius: 4px;
    background: #FB8C00;
    color: #ffffff;
    width: 80px;
    height: 30px;
    border: none;
    margin-top: 37px;
}
.into-page:hover{
    background-color: #ED7700;
}
.transverse .designer-creative{
    margin-top: 18px;
    margin-left: 32px;
    width: 336px;
}
.vertical .designer-creative{
    margin-top: 18px;
    margin-left: 32px;
    width: 336px;
}
.designer-creative .designer-title{
    font-size: 14px;
    color: #606266;
    font-weight: bold;
    float: left;
}
 .designer-more{
    float: right;
}
.a-more{
    font-size: 14px;
    color: #606266;
    text-decoration: none;
}
.a-more:hover{
    color: #ED7700;
    text-decoration: none;
    font-size: 14px;
}
.designer-list{
    margin-top: 20px;
}
.vertical .template .designer-list{
    width: 350px;
    margin-left: -3px;
}
.transverse .designer-list{
    width: 350px;
}

.transverse .designer-list ul{
    padding-left: 0px;
}

.vertical .cases .designer-list{
    width: 350px;
    /*margin-left: -39px;*/
}
.vertical .designer-list ul li{
    list-style: none;
    display:inline-block;
    width: 126px;
    position: relative;
    height: 126px;
    margin-left: -13px;
}
.transverse .designer-list ul li{
    list-style: none;
    display:inline-block;
    width: 126px;
    position: relative;
    height: 126px;
    margin-left: -13px;
}
.designer-list  ul li:hover{
    background: #FFFFFF;
    box-shadow: 0 0 14px 3px rgba(166,166,166,0.34);
    border-radius: 3px;
}
.designer-list ul:not(:first-child){
    margin-left: 10px;
}
.creative-img{
    width: 106px;
    height: 106px;
}
.designer-list ul li:hover .hover-creative-img{
    display: block;
}
.hover-creative-img{
    background: rgba(0,0,0,0.50);
    position: absolute;
    top: 0;
    left: 10px;
    width: 106px;
    height: 106px;
    display: none;
}
.view-creative{
    margin: 0;
}
.main-footer{
    width: 1200px;
    height: 750px;
    background-color: #ffffff;
    border-radius: 2px;
    margin-top: 20px;
    margin-bottom: 52px;
}
.guess-like{
    margin-top: 32px;
    margin-left: 32px;
    float: left;
    font-size: 18px;
    color: #303133;
}
.footer-more{
    margin-right: 32px;
    margin-top: 32px;
}
.like-list{
    margin-top: 20px;
    margin-left: 20px;
    height: 486px;
    width: 1180px;
}
.like-list ul li{
    list-style: none;
    display:inline-block;
    width: 196px;
    position: relative;
    height: 238px;
    margin-left: -9px;
}
.like-list ul:not(:first-child){
    margin-left: 16px;
}

.like-list ul li:hover .like-hover-creative-img{
    display: block;
}
.like-list ul li:hover .seckill-btn{
    display: block;
}
.like-list ul li:hover{
    background: #FFFFFF;
    box-shadow: 0 0 14px 3px rgba(166,166,166,0.34);
    border-radius: 3px;
}
.like-hover-creative-img{
    background: rgba(0,0,0,0.50);
    position: absolute;
    top:0px;
    left: 10px;
    width: 176px;
    height: 176px;
    display: none;
}
.like-img{
    width: 176px;
}

.view-creative-small {
    margin-top: 30px;
    margin-left: 30px;
}

.view-creative-big{
    margin-left: 59px;
    margin-top: 61px;
}
.creative-like-title{
    font-size: 14px;
    margin-top: 14px;
    color: #303133;
    margin-left: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.creative-box{
    margin-top: 10px;
    margin-left: 10px;
    height: 176px;
    width: 176px;
    overflow: hidden;
}
.relation{
    border-top: 1px solid #E4E7ED;
    font-size: 14px;
    color: #606266;
    margin-top: 20px;
    margin-left: 32px;
    padding-top: 20px;
    margin-right: 32px;
}
.relation-info{
    margin-top: 20px;
}
.relation-info ul {
    margin-left: 32px;
}
.relation-info ul li{
    list-style: none;
    display:inline-block;
    font-size: 13px;
}
.relation-info ul li:not(:first-child){
    margin-left: 20px;
}
.relation-info ul li a{
    color: #909399;
    text-decoration: none;
}
.relation-info ul li a:hover{
    color: #ED7700;
}
.vertical .price-info
{
    margin-left: 32px;
    margin-top: 20px;
    margin-right: 32px;
    border-top: 1px dashed  #E4E7ED;
    padding-top: 20px;
}

.price-info .price {
    float: left;
}

.transverse .price-info
{
    margin-left: 32px;
    margin-top: 20px;
    margin-right: 32px;
    padding-top: 20px;
}

.vertical .vip-free{
    font-size: 16px;
    color: #ED7700;
    float: right;
}

.transverse .vip-free{
    font-size: 16px;
    color: #ED7700;
    float: left;
    margin-left: 30px;
}
.buy-box{
    margin-top: 44px;
    margin-left: 32px;
}
.buy-template{
    background-image: linear-gradient(0deg, #FCBE4C 0%, #F9EBAE 100%);
    border: 1px solid #D6A353;
    border-radius: 4px;
    width: 336px;
    height: 40px;
    font-size: 16px;
    color: #754307;
}
.buy-template:hover{
    background-image: linear-gradient(0deg, #DBAA5E 0%, #FAE3B9 100%);
}
.free-user{
    width: 220px;
}
.now-buy{
    border: 1px solid #C0C4CC;
    border-radius: 4px;
    width: 106px;
    height: 40px;
    font-size: 16px;
    color: #606266;
    background-color: #fff;
    position: absolute;
    right: 37px;
}

.now-buy-t{
    left:260px;
}
.now-buy:hover{
    background: #ED7700;
    color: #FFFFFF;
    border: none;
}
.vertical .use-guide{
    margin-top: 24px;
    font-size: 14px;
    color: #ED7700;
    padding-top: 14px;
    margin-left: 32px;
    border-top:1px dashed #E4E7ED;
    margin-right: 32px;
    cursor: pointer;
}
.transverse .use-guide{
    margin-top: 24px;
    font-size: 14px;
    color: #ED7700;
    margin-left: 32px;
    margin-right: 32px;
    cursor: pointer;
}
.seckill-price{
    color: #Fb8C00;
    font-size: 16px;
    margin-left: 10px;
    float: left;
    margin-top: 5px;
}
.seckill-btn{
    background: #FB8C00;
    border: none;
    height: 24px;
    width: 60px;
    border-radius: 3px;
    font-size: 12px;
    color: #FFFFFF;
    line-height: 24px;
    /* vertical-align: super; */
    float: right;
    margin-right: 10px;
    display: none;
}