.badge {
    display: block;
    position: absolute;
    top: 11px;
    left: 33px;
    text-indent: 0px;
    min-width: 10px;
    padding: 1px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #ff3333;
    border-radius: 10px;
}

.badge.badge-important {
    top: 0px;
    left: 10px;
}

#notification {
   position: relative;
}
